In [1]:
from tqdm.notebook import tqdm
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import time
from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.request import Request
import urllib

In [2]:
company_list = []

for i in range(1,3):
    url = "https://job.incruit.com/jobdb_list/searchjob.asp?kw=%B5%E5%B7%D0&rgn1=149&page={page_number}"        # 자신의 찾으려는 웹사이트 입력
    req = Request(url.format(page_number = urllib.parse.quote(str(i))))
    res = urlopen(req)
    soup = BeautifulSoup(res, "html.parser")
    
    element = soup.find_all('ul',class_='c_row')
    for each in element:
        cl_top = each.find('div',class_='cl_top')
        cell_mid = each.find('div',class_='cell_mid')

        company = []
        name = each.find('a',class_='cpname').string    # 회사이름
        link = each.find('a',class_='cpname')['href']

        company.append(name)
        company.append(link)
        company_list.append(company)

In [3]:
company_list

[['(주)에어로리서치', 'https://www.incruit.com/company/1686275813'],
 ['주식회사 한컴어썸텍', 'https://www.incruit.com/company/1685820178'],
 ['(주)포디게이트', 'https://www.incruit.com/company/1680874732'],
 ['(주)엑스퍼넷', 'https://www.incruit.com/company/1598948'],
 ['대영드론솔루션 주식회사', 'https://www.incruit.com/company/1682609590'],
 ['주식회사드론아카데미', 'https://www.incruit.com/company/1680185392'],
 ['주식회사리하이', 'https://www.incruit.com/company/1682982590'],
 ['(주)엑스퍼넷', 'https://www.incruit.com/company/1598948'],
 ['(주)비에이블컨설팅그룹', 'https://www.incruit.com/company/1680910419'],
 ['(주)스카우트파트너스', 'https://www.incruit.com/company/12740528'],
 ['(주)피플스카우트', 'https://www.incruit.com/company/5304346'],
 ['잡앤서비스', 'https://www.incruit.com/company/1683233038'],
 ['(주)프리뉴', 'https://www.incruit.com/company/1681014430'],
 ['(주)와이즈교육', 'https://www.incruit.com/company/1681168682'],
 ['(주)봄날', 'https://www.incruit.com/company/1682774210'],
 ['다스코리아', 'https://www.incruit.com/company/1682726707'],
 ['(주)잡뉴스솔로몬서치', 'https://www.incruit.com/company/11351847'],
 ['한국씨앤오테크(주)', 'https://www.incruit.com/company/16297500'],
 ['웹뜰 주식회사', 'https://www.incruit.com/company/1684232788'],
 ['(주)프리뉴', 'https://www.incruit.com/company/1681014430'],
 ['(주)프리뉴', 'https://www.incruit.com/company/1681014430'],
 ['(주)인스파이어인티그레이티드리조트', 'https://www.incruit.com/company/1685161580'],
 ['(주)유비파이', 'https://www.incruit.com/company/1680779134'],
 ['(주)피플렙', 'https://www.incruit.com/company/1681100596'],
 ['(주)잡뉴스솔로몬서치', 'https://www.incruit.com/company/11351847'],
 ['(주)스타리치어드바이져', 'https://www.incruit.com/company/1685838661'],
 ['(주)유나이티드이미징헬스케어코리아', 'https://www.incruit.com/company/1687326780'],
 ['(주)스카우트파트너스', 'https://www.incruit.com/company/12740528'],
 ['한국교통안전공단', 'https://www.incruit.com/company/702987'],
 ['세종대학교', 'https://www.incruit.com/company/2872111'],
 ['(주)비엠더블유모토라드광주', 'https://www.incruit.com/company/1679559896'],
 ['제이앤파트너즈코리아 (주)', 'https://www.incruit.com/company/1680116775'],
 ['(주)트라이디', 'https://www.incruit.com/company/1684603320'],
 ['(주)프로듀스드바이기억', 'https://www.incruit.com/company/1684337674'],
 ['주식회사 제이티체인', 'https://www.incruit.com/company/1684186495'],
 ['(주)프로듀스드바이기억', 'https://www.incruit.com/company/1684337674'],
 ['오가노이드사이언스(주)', 'https://www.incruit.com/company/1684695504'],
 ['(주)스타리치어드바이져', 'https://www.incruit.com/company/1682215215'],
 ['에디션M', 'https://www.incruit.com/company/1687335911'],
 ['네오타이드코리아', 'https://www.incruit.com/company/1682603284'],
 ['산수음료(주)', 'https://www.incruit.com/company/1678243194'],
 ['(주)봄날', 'https://www.incruit.com/company/1682774210'],
 ['오가노이드사이언스(주)', 'https://www.incruit.com/company/1684695504'],
 ['(주)비전드림교육', 'https://www.incruit.com/company/1685072377'],
 ['(주)프리뉴', 'https://www.incruit.com/company/1681014430'],
 ['(주)자이드물류', 'https://www.incruit.com/company/1687773546'],
 ['(주)지알엔', 'https://www.incruit.com/company/1687812508'],
 ['COAD', 'https://www.incruit.com/company/1655728377'],
 ['주식회사 온나비', 'https://www.incruit.com/company/1683540651'],
 ['(주)비엠더블유모토라드광주', 'https://www.incruit.com/company/1679559896'],
 ['(주)썬에듀파트너스', 'https://www.incruit.com/company/1670250599'],
 ['(주)썬에듀파트너스', 'https://www.incruit.com/company/1670250599'],
 ['COAD', 'https://www.incruit.com/company/1655728377'],
 ['COAD', 'https://www.incruit.com/company/1655728377'],
 ['(주)더프리마', 'https://www.incruit.com/company/3889795'],
 ['한국폴리텍대학 충주캠퍼스', 'https://www.incruit.com/company/8115312'],
 ['한국교통안전공단', '#'],
 ['의정부 백병원', '#'],
 ['의료법인영파의료재단', '#'],
 ['이동규의원', '#'],
 ['보성요양병원', '#'],
 ['그랜드성모안과의원', '#'],
 ['연세우리안과', '#'],
 ['서울어울초등학교', '#'],
 ['초읍중학교', '#'],
 ['내동초', '#'],
 ['북면초', '#'],
 ['남양초', '#'],
 ['케이드론', '#'],
 ['(주)해오름드론항공', '#'],
 ['웅진산업(주)', '#'],
 ['(주)해양드론기술', '#'],
 ['(주)신명전기', '#'],
 ['(주)비엠에스종합개발', '#'],
 ['(주)한성지티', '#'],
 ['세계산업(주)', '#'],
 ['(주)엠더블유테크', '#'],
 ['(주)한성지티', '#'],
 ['인천YMCA', '#'],
 ['(주)금자탑애드텍', '#'],
 ['(주)그래미', '#'],
 ['(주)일등공신', '#'],
 ['(주)파워텍', '#'],
 ['태건측량엔지니어링', '#'],
 ['(주)에스티컴퓨터', '#'],
 ['(주)스카이아트', '#'],
 ['주식회사 테슬라마그네틱스', '#'],
 ['(주)강북공영', '#'],
 ['주식회사 테슬라마그네틱스', '#'],
 ['제이알컴퍼니', '#'],
 ['쿠팡풀필먼트서비스 유한회사', '#'],
 ['쿠팡풀필먼트서비스 유한회사', '#']]

In [4]:
import pandas as pd 
drone_df = pd.DataFrame(company_list, columns=['회사명', '링크'])

In [7]:
drone_df = drone_df[drone_df['링크'].str.contains('http')]

In [8]:
from tqdm import tqdm 
from user_agent import generate_user_agent

info_list = []
r1_list = []
r2_list = []
r3_list = []


for idx, row in tqdm(drone_df.iterrows(), total=len(drone_df.index)):
    req = Request(url=row['링크'], headers={'User-Agent':generate_user_agent()})
    page = urlopen(req)
    soup = BeautifulSoup(page, 'html.parser')

    try:
        table =  soup.find(class_='table_li')
        info_list.append(table.get_text())
    except:
        info_list.append('-')     

    try:    
        rev = soup.find(class_='table_b sub_table')
        tbody = rev.find('tbody')
        r1 = tbody.find_all('tr')[0]
        r2 = tbody.find_all('tr')[1]
        r3 = tbody.find_all('tr')[2]
    
        r1_list.append(r1.get_text())
        r2_list.append(r2.get_text())
        r3_list.append(r3.get_text())

    except:
        r1_list.append('-')
        r2_list.append('-')
        r3_list.append('-')

100%|██████████| 56/56 [00:19<00:00,  2.88it/s]

In [9]:
info_list,r1_list,r2_list,r3_list

(['기업명(주)에어로리서치기업규모중소기업대표자최현묵설립일2021년 11월 1일 매출액 3억 8,507만원 (2022)사원수 4 명 재직중평균연봉4,125만원 자세히보기자본금 1억 5,000만원업종제조업기타',
  '기업명주식회사 한컴어썸텍기업규모중소기업대표자황상연설립일2018년 2월 9일 매출액 8억 1,460만원 (2022)사원수 8 명 재직중평균연봉3,877만원 자세히보기자본금 1억 9,463만원업종기계·조선·자동차·운송장비',
  '기업명(주)포디게이트기업규모중소기업대표자강석준설립일2010년 5월 19일 매출액-사원수 15 명 재직중자본금 4억 6,000만원업종의료·정밀·시계·광학기기',
  '기업명(주)엑스퍼넷기업규모중소기업대표자이종경설립일2003년 10월 10일 매출액 321억 2,805만원 (2022)사원수 86 명 재직중평균연봉5,647만원 자세히보기자본금 12억 8,200만원업종컴퓨터·하드웨어·장비',
  '기업명대영드론솔루션 주식회사기업규모중소기업대표자김기주, 이희우설립일2021년 5월 14일 매출액 8억 1,685만원 (2022)사원수 8 명 재직중평균연봉3,539만원 자세히보기자본금 9억원업종연구개발업',
  '기업명주식회사드론아카데미기업규모중소기업대표자김경현설립일2019년 1월 2일 매출액-사원수 3 명 재직중평균연봉3,683만원 자세히보기자본금-업종교육·연구및개발',
  '기업명주식회사리하이기업규모중소기업대표자추혜성설립일2021년 2월 1일 매출액 16억 1,804만원 (2022)사원수 14 명 재직중평균연봉3,110만원 자세히보기자본금 5,000만원업종제조업기타',
  '기업명(주)엑스퍼넷기업규모중소기업대표자이종경설립일2003년 10월 10일 매출액 321억 2,805만원 (2022)사원수 86 명 재직중평균연봉5,647만원 자세히보기자본금 12억 8,200만원업종컴퓨터·하드웨어·장비',
  '기업명(주)비에이블컨설팅그룹기업규모중소기업대표자성광희설립일2020년 1월 23일 매출액-사원수 25 명 재직중 (헤드헌터 38 명)자본금-업종용역·인력알선',
  '기업명(주)스카우트파트너스기업규모중소기업대표자정성원설립일2011년 9월 1일 매출액 85억 5,603만원 (2022)사원수-평균연봉4,515만원 자세히보기자본금 1억원업종용역·인력알선',
  '기업명(주)피플스카우트기업규모중소기업대표자최장호설립일2008년 8월 25일 매출액 65억원 (2011)사원수 67 명 재직중 (헤드헌터 89 명)자본금 1억원업종용역·인력알선',
  '기업명잡앤서비스기업규모중견기업대표자최선희설립일2021년 10월 1일 매출액-사원수 30 명 재직중자본금 1억원업종기계·조선·자동차·운송장비',
  '기업명(주)프리뉴기업규모중소기업대표자이종경설립일2017년 6월 2일 매출액 92억 1,452만원 (2022)사원수 85 명 재직중평균연봉4,687만원 자세히보기자본금 7억 9,096만원업종기계·조선·자동차·운송장비',
  '기업명(주)와이즈교육기업규모중소기업대표자김흥열,황규동설립일2008년 5월 1일 매출액 81억 6,310만원 (2022)사원수 36 명 재직중평균연봉3,924만원 자세히보기자본금 29억 6,250만원업종학원·학습지',
  '기업명(주)봄날기업규모중소기업대표자정진우설립일2010년 10월 20일 매출액-사원수 1 명 재직중평균연봉2,803만원 자세히보기자본금 500만원업종방송·광고·영상·오디오',
  '기업명다스코리아기업규모중소기업대표자차현성설립일2004년 10월 1일 매출액 572억 4,536만원 (2022)사원수 115 명 재직중평균연봉4,838만원 자세히보기자본금 2억 6,000만원업종유통',
  '기업명(주)잡뉴스솔로몬서치기업규모중소기업대표자김동연설립일1998년 12월 7일 매출액-사원수 120 명 재직중 (헤드헌터 159 명)평균연봉5,242만원 자세히보기자본금 3억원업종용역·인력알선',
  '기업명한국씨앤오테크(주)기업규모중소기업대표자오세홍설립일1997년 6월 9일 매출액 184억 4,294만원 (2022)사원수 127 명 재직중평균연봉4,257만원 자세히보기자본금 16억 5,950만원업종석유·화학·고무',
  '기업명웹뜰 주식회사기업규모중소기업대표자이태경설립일2008년 11월 25일 매출액 87억 1,814만원 (2022)사원수 38 명 재직중평균연봉3,621만원 자세히보기자본금 5,000만원업종소매',
  '기업명(주)프리뉴기업규모중소기업대표자이종경설립일2017년 6월 2일 매출액 92억 1,452만원 (2022)사원수 85 명 재직중평균연봉4,687만원 자세히보기자본금 7억 9,096만원업종기계·조선·자동차·운송장비',
  '기업명(주)프리뉴기업규모중소기업대표자이종경설립일2017년 6월 2일 매출액 92억 1,452만원 (2022)사원수 85 명 재직중평균연봉4,687만원 자세히보기자본금 7억 9,096만원업종기계·조선·자동차·운송장비',
  '기업명(주)인스파이어인티그레이티드리조트기업규모중소기업대표자CHEN SI(첸시)설립일2015년 6월 1일 매출액-사원수 46 명 재직중평균연봉4,835만원 자세히보기자본금 409억 965만원업종문화·스포츠·엔터테인먼트',
  '기업명(주)유비파이기업규모중소기업대표자임현설립일2014년 3월 18일 매출액 63억 5,493만원 (2022)사원수 21 명 재직중평균연봉4,659만원 자세히보기자본금 3,750만원업종기계·조선·자동차·운송장비',
  '기업명(주)피플렙기업규모중소기업대표자신동욱설립일2018년 10월 1일 매출액-사원수-자본금-업종개인서비스',
  '기업명(주)잡뉴스솔로몬서치기업규모중소기업대표자김동연설립일1998년 12월 7일 매출액-사원수 120 명 재직중 (헤드헌터 159 명)평균연봉5,242만원 자세히보기자본금 3억원업종용역·인력알선',
  '기업명(주)스타리치어드바이져기업규모중소기업대표자김광열설립일2008년 7월 30일 매출액-사원수 25 명 재직중평균연봉3,918만원 자세히보기자본금-업종보험·연금',
  '기업명(주)유나이티드이미징헬스케어코리아기업규모중소기업대표자배규성설립일2019년 1월 2일 매출액-사원수-평균연봉6,008만원 자세히보기자본금-업종소매',
  '기업명(주)스카우트파트너스기업규모중소기업대표자정성원설립일2011년 9월 1일 매출액 85억 5,603만원 (2022)사원수-평균연봉4,515만원 자세히보기자본금 1억원업종용역·인력알선',
  '기업명한국교통안전공단기업규모중기업대표자권용복설립일1981년 3월 17일 매출액 3,847억 9,817만원 (2022)사원수 1,795 명 재직중평균연봉4,466만원 자세히보기자본금-업종정부·비영리단체',
  '기업명세종대학교기업규모중견기업대표자배덕효설립일1964년 1월 25일 매출액-사원수 884 명 재직중평균연봉2,198만원 자세히보기자본금-업종정부·비영리단체',
  '기업명(주)비엠더블유모토라드광주기업규모중소기업대표자김영근설립일2008년 6월 18일 매출액 40억원 (2017)사원수 6 명 재직중자본금 5,000만원업종소매',
  '기업명제이앤파트너즈코리아 (주)기업규모소기업대표자한선영설립일2019년 1월 1일 매출액-사원수 1 명 재직중 (헤드헌터 11 명)자본금-업종용역·인력알선',
  '기업명(주)트라이디기업규모중소기업대표자김진호설립일2021년 8월 23일 매출액 5억 781만원 (2022)사원수 10 명 재직중평균연봉4,652만원 자세히보기자본금 3,000만원업종토목ENG·CM·시험·측량',
  '기업명(주)프로듀스드바이기억기업규모중소기업대표자김기원설립일2018년 8월 24일 매출액 48억 8,051만원 (2022)사원수 11 명 재직중평균연봉4,688만원 자세히보기자본금 1,000만원업종방송·광고·영상·오디오',
  '기업명주식회사 제이티체인기업규모중소기업대표자박충현설립일2021년 12월 20일 매출액-사원수 8 명 재직중평균연봉3,580만원 자세히보기자본금 1억원업종연구개발업',
  '기업명(주)프로듀스드바이기억기업규모중소기업대표자김기원설립일2018년 8월 24일 매출액 48억 8,051만원 (2022)사원수 11 명 재직중평균연봉4,688만원 자세히보기자본금 1,000만원업종방송·광고·영상·오디오',
  '기업명오가노이드사이언스(주)기업규모중소기업대표자유종만설립일2018년 10월 26일 매출액 4억 3,824만원 (2022)사원수 79 명 재직중평균연봉5,769만원 자세히보기자본금 14억 3,290만원업종의약품·의료용품·바이오',
  '기업명(주)스타리치어드바이져기업규모중소기업대표자김광열설립일2008년 7월 30일 매출액-사원수 200 명 재직중평균연봉3,918만원 자세히보기자본금-업종보험·연금',
  '기업명에디션M대표자박혜전설립일2023년 6월 28일 매출액-사원수-자본금-업종식음료·외식(프랜차이즈)',
  '기업명네오타이드코리아기업규모중소기업대표자정향화설립일2019년 2월 13일 매출액-사원수 4 명 재직중자본금-업종도매·상품중개',
  '기업명산수음료(주)기업규모중소기업대표자김태룡,최명수설립일1984년 8월 1일 매출액 159억 2,070만원 (2022)사원수 59 명 재직중평균연봉4,712만원 자세히보기자본금 15억원업종음·식료품·식품가공',
  '기업명(주)봄날기업규모중소기업대표자정진우설립일2010년 10월 20일 매출액-사원수 1 명 재직중평균연봉2,803만원 자세히보기자본금 500만원업종방송·광고·영상·오디오',
  '기업명오가노이드사이언스(주)기업규모중소기업대표자유종만설립일2018년 10월 26일 매출액 4억 3,824만원 (2022)사원수 79 명 재직중평균연봉5,769만원 자세히보기자본금 14억 3,290만원업종의약품·의료용품·바이오',
  '기업명(주)비전드림교육기업규모중소기업대표자안영창설립일2019년 12월 5일 매출액 12억 4,614만원 (2022)사원수 8 명 재직중자본금 3,000만원업종교육기관',
  '기업명(주)프리뉴기업규모중소기업대표자이종경설립일2017년 6월 2일 매출액 92억 1,452만원 (2022)사원수 85 명 재직중평균연봉4,687만원 자세히보기자본금 7억 9,096만원업종기계·조선·자동차·운송장비',
  '기업명(주)자이드물류기업규모중소기업대표자김민규설립일2020년 10월 5일 매출액-사원수-평균연봉6,210만원 자세히보기자본금-업종육상운송',
  '기업명(주)지알엔기업규모중소기업대표자나현갑설립일2023년 2월 8일 매출액-사원수 4 명 재직중자본금-업종방송·광고·영상·오디오',
  '기업명COAD기업규모중소기업대표자이대훈설립일2014년 9월 19일 매출액 150억원 (2021)사원수 130 명 재직중자본금 6억원업종제조업기타',
  '기업명주식회사 온나비기업규모중소기업대표자서남석설립일2021년 9월 14일 매출액 1억 4,560만원 (2022)사원수 1 명 재직중평균연봉4,124만원 자세히보기자본금 500만원업종교육·연구및개발',
  '기업명(주)비엠더블유모토라드광주기업규모중소기업대표자김영근설립일2008년 6월 18일 매출액 40억원 (2017)사원수 6 명 재직중자본금 5,000만원업종소매',
  '기업명(주)썬에듀파트너스기업규모중소기업대표자홍선호설립일2015년 8월 3일 매출액-사원수 5 명 재직중평균연봉1,708만원 자세히보기자본금-업종교육·연구및개발',
  '기업명(주)썬에듀파트너스기업규모중소기업대표자홍선호설립일2015년 8월 3일 매출액-사원수 5 명 재직중평균연봉1,708만원 자세히보기자본금-업종교육·연구및개발',
  '기업명COAD기업규모중소기업대표자이대훈설립일2014년 9월 19일 매출액 150억원 (2021)사원수 130 명 재직중자본금 6억원업종제조업기타',
  '기업명COAD기업규모중소기업대표자이대훈설립일2014년 9월 19일 매출액 150억원 (2021)사원수 130 명 재직중자본금 6억원업종제조업기타',
  '기업명(주)더프리마기업규모중소기업대표자이상준설립일1987년 5월 1일 매출액 39억 3,387만원 (2022)사원수 45 명 재직중평균연봉4,238만원 자세히보기자본금 34억 1,512만원업종부동산업',
  '기업명한국폴리텍대학 충주캠퍼스기업규모대기업대표자홍석원설립일2014년 3월 1일 매출액-사원수 38 명 재직중자본금-업종교육기관'],
 ['-',
  '2022 7억 4,292만원\n↑ 8억 1,460만원\n↑ 4,516만원\n↓',
  '-',
  '2022 92억 4,254만원\n↑ 321억 2,805만원\n↓ 7억 7,225만원\n↓',
  '-',
  '-',
  '2022 3억 6,377만원\n↑ 16억 1,804만원\n↑ 1억 858만원\n↓',
  '2022 92억 4,254만원\n↑ 321억 2,805만원\n↓ 7억 7,225만원\n↓',
  '-',
  '2022 16억 9,197만원\n↑ 85억 5,603만원\n↑ 5억 3,117만원\n↓',
  '-',
  '-',
  '2022 42억 5,006만원\n↑ 18억 6,582만원\n↓- 15억 7,424만원\n↓',
  '2022 6억 6,299만원\n↑ 81억 6,310만원\n↓ 1억 5,330만원\n↓',
  '-',
  '2022 118억 2,820만원\n↑ 572억 4,536만원\n↑ 6억 7,566만원\n↓',
  '-',
  '2022 76억 8,325만원\n↓ 184억 4,294만원\n↑- 6억 9,115만원\n↑',
  '2022 10억 1,237만원\n↓ 87억 1,814만원\n↓- 4,127만원\n↓',
  '2022 42억 5,006만원\n↑ 18억 6,582만원\n↓- 15억 7,424만원\n↓',
  '2022 42억 5,006만원\n↑ 18억 6,582만원\n↓- 15억 7,424만원\n↓',
  '2017 2,275억 8,154만원\n↑ 0만원\n 5억 1,556만원\n↑',
  '2022 25억 2,480만원\n↑ 63억 5,493만원\n↑ 6억 4,617만원\n↓',
  '-',
  '-',
  '-',
  '-',
  '2022 16억 9,197만원\n↑ 85억 5,603만원\n↑ 5억 3,117만원\n↓',
  '2022 2,343억 6,861만원\n↑ 3,847억 9,817만원\n↓ 6억 3,788만원\n↓',
  '-',
  '-',
  '-',
  '-',
  '2022 8,775만원\n↑ 48억 8,051만원\n↑ 242만원\n↓',
  '-',
  '2022 8,775만원\n↑ 48억 8,051만원\n↑ 242만원\n↓',
  '2022- 395억 6,023만원\n↓ 4억 3,824만원\n↑- 241억 1,128만원\n↓',
  '-',
  '-',
  '-',
  '2022 41억 5,395만원\n↓ 159억 2,070만원\n↓- 32억 2,907만원\n↓',
  '-',
  '2022- 395억 6,023만원\n↓ 4억 3,824만원\n↑- 241억 1,128만원\n↓',
  '2022 1억 3,010만원\n↑ 12억 4,614만원\n↑ 4,938만원\n↑',
  '2022 42억 5,006만원\n↑ 18억 6,582만원\n↓- 15억 7,424만원\n↓',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '2022 3,056억 8,998만원\n↑ 39억 3,387만원\n↓ 2,898억 3,441만원\n↑',
  '-'],
 ['-',
  '2021 6억 9,776만원\n↑ 6억 4,024만원\n↑ 6,428만원\n↓',
  '-',
  '2021 84억 7,029만원\n↑ 327억 6,745만원\n↑ 17억 8,340만원\n↑',
  '-',
  '-',
  '2021 2억 8,582만원\n↑ 11억 8,578만원\n↑ 2억 3,583만원\n↑',
  '2021 84억 7,029만원\n↑ 327억 6,745만원\n↑ 17억 8,340만원\n↑',
  '-',
  '2021 11억 6,080만원\n↑ 58억 6,943만원\n↑ 5억 7,628만원\n↑',
  '-',
  '-',
  '2021 28억 2,431만원\n↑ 53억 9,289만원\n↓- 4억 1,866만원\n↓',
  '2021 5억 968만원\n↑ 89억 6,016만원\n↑ 2억 2,281만원\n↑',
  '-',
  '2021 115억 7,753만원\n↑ 460억 909만원\n↑ 21억 6,675만원\n↑',
  '-',
  '2021 83억 7,440만원\n↓ 116억 7,101만원\n↓- 12억 3,540만원\n↑',
  '2021 29억 2,137만원\n↑ 257억 4,676만원\n↑ 2억 2,190만원\n↓',
  '2021 28억 2,431만원\n↑ 53억 9,289만원\n↓- 4억 1,866만원\n↓',
  '2021 28억 2,431만원\n↑ 53억 9,289만원\n↓- 4억 1,866만원\n↓',
  '2016 2,270억 6,598만원\n↑ 0만원\n- 18억 5,292만원\n↓',
  '2021 18억 7,863만원\n↑ 34억 3,995만원\n↑ 10억 966만원\n↑',
  '-',
  '-',
  '-',
  '-',
  '2021 11억 6,080만원\n↑ 58억 6,943만원\n↑ 5억 7,628만원\n↑',
  '2021 2,186억 2,975만원\n↑ 4,360억 7,780만원\n↑ 106억 7,705만원\n↑',
  '-',
  '-',
  '-',
  '-',
  '2021 8,533만원\n↑ 38억 9,758만원\n↑ 1억 4,484만원\n↑',
  '-',
  '2021 8,533만원\n↑ 38억 9,758만원\n↑ 1억 4,484만원\n↑',
  '2021 342억 4,975만원\n↑ 2억 7,025만원\n↑- 53억 2,567만원\n↓',
  '-',
  '-',
  '-',
  '2021 73억 8,302만원\n↑ 167억 6,206만원\n↑ 1억 5,185만원\n↑',
  '-',
  '2021 342억 4,975만원\n↑ 2억 7,025만원\n↑- 53억 2,567만원\n↓',
  '2021 8,072만원\n↑ 9억 1,324만원\n↑ 1,310만원\n↓',
  '2021 28억 2,431만원\n↑ 53억 9,289만원\n↓- 4억 1,866만원\n↓',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '2021 1,272억 5,385만원\n↓ 40억 9,080만원\n↓- 15억 4,020만원\n↑',
  '-'],
 ['-',
  '2020 1억 3,347만원\n 4억 7,401만원\n 1억 865만원\n',
  '-',
  '2020 66억 8,688만원\n 265억 3,091만원\n 6억 8,060만원\n',
  '-',
  '-',
  '2020 4,411만원\n 4억 4,897만원\n 2,751만원\n',
  '2020 66억 8,688만원\n 265억 3,091만원\n 6억 8,060만원\n',
  '-',
  '2020 5억 8,451만원\n 33억 4,395만원\n 2억 7,402만원\n',
  '-',
  '-',
  '2020 14억 3,723만원\n 64억 8,445만원\n 3억 3,475만원\n',
  '2020 2억 8,686만원\n 70억 1,963만원\n- 14억 556만원\n',
  '-',
  '2020 94억 7,049만원\n 361억 9,219만원\n- 14억 6,660만원\n',
  '-',
  '2020 96억 981만원\n 118억 5,713만원\n- 27억 1,745만원\n',
  '2020 26억 5,947만원\n 205억 4,333만원\n 2억 7,748만원\n',
  '2020 14억 3,723만원\n 64억 8,445만원\n 3억 3,475만원\n',
  '2020 14억 3,723만원\n 64억 8,445만원\n 3억 3,475만원\n',
  '2015 570억 9,905만원\n 0만원\n- 16억 3,460만원\n',
  '2020 8억 6,897만원\n 14억 3,861만원\n 5억 6,925만원\n',
  '-',
  '-',
  '-',
  '-',
  '2020 5억 8,451만원\n 33억 4,395만원\n 2억 7,402만원\n',
  '2020 2,081억 6,590만원\n 3,386억 5,607만원\n- 68억 7,089만원\n',
  '-',
  '-',
  '-',
  '-',
  '2020- 5,951만원\n 20억 3,861만원\n 9,611만원\n',
  '-',
  '2020- 5,951만원\n 20억 3,861만원\n 9,611만원\n',
  '2020 68억 9,449만원\n 1억 186만원\n- 14억 197만원\n',
  '-',
  '-',
  '-',
  '2020 72억 3,117만원\n 164억 6,769만원\n- 8억 486만원\n',
  '-',
  '2020 68억 9,449만원\n 1억 186만원\n- 14억 197만원\n',
  '2020 6,762만원\n 3억 4,150만원\n 3,762만원\n',
  '2020 14억 3,723만원\n 64억 8,445만원\n 3억 3,475만원\n',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '-',
  '2020 1,287억 9,406만원\n 127억 9,919만원\n- 18억 1,128만원\n',
  '-'])

In [10]:
drone_df['info'] = info_list
drone_df['r1'] = r1_list
drone_df['r2'] = r2_list
drone_df['r3'] = r3_list

/tmp/ipykernel_4317/2459638539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['info'] = info_list
/tmp/ipykernel_4317/2459638539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['r1'] = r1_list
/tmp/ipykernel_4317/2459638539.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['r2'] = r2_list
/tmp/ipykernel_4317/2459638539.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['r3'] = r3_list

In [11]:
drone_df['기업규모'] =  drone_df['info'].str.split('기업규모').str[1]
drone_df['매출액'] =  drone_df['기업규모'].str.split('매출액').str[1]
drone_df['평균연봉'] =  drone_df['매출액'].str.split('평균연봉').str[1]

/tmp/ipykernel_4317/1720274387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['기업규모'] =  drone_df['info'].str.split('기업규모').str[1]
/tmp/ipykernel_4317/1720274387.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액'] =  drone_df['기업규모'].str.split('매출액').str[1]
/tmp/ipykernel_4317/1720274387.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['평균연봉'] =  drone_df['매출액'].str.split('평균연봉').str[1]

In [12]:
drone_df['기업규모'] =  drone_df['기업규모'].str.split('대표자').str[0]
drone_df['매출액'] =  drone_df['매출액'].str.split('사원수').str[0]

/tmp/ipykernel_4317/710064683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['기업규모'] =  drone_df['기업규모'].str.split('대표자').str[0]
/tmp/ipykernel_4317/710064683.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액'] =  drone_df['매출액'].str.split('사원수').str[0]

In [13]:
drone_df['평균연봉'] =  drone_df['평균연봉'].str.split('자세히보기').str[0]

/tmp/ipykernel_4317/1284970989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['평균연봉'] =  drone_df['평균연봉'].str.split('자세히보기').str[0]

In [15]:
drone_df['자본총계1'] =  drone_df['r1'].str.split('\n').str[0]
drone_df['자본총계2'] =  drone_df['r2'].str.split('\n').str[0]
drone_df['자본총계3'] =  drone_df['r3'].str.split('\n').str[0]

drone_df['매출액1'] =  drone_df['r1'].str.split('\n').str[1]
drone_df['매출액2'] =  drone_df['r2'].str.split('\n').str[1]
drone_df['매출액3'] =  drone_df['r3'].str.split('\n').str[1]

drone_df['순이익1'] =  drone_df['r1'].str.split('\n').str[2]
drone_df['순이익2'] =  drone_df['r2'].str.split('\n').str[2]
drone_df['순이익3'] =  drone_df['r3'].str.split('\n').str[2]

/tmp/ipykernel_4317/4204071737.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['자본총계1'] =  drone_df['r1'].str.split('\n').str[0]
/tmp/ipykernel_4317/4204071737.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['자본총계2'] =  drone_df['r2'].str.split('\n').str[0]
/tmp/ipykernel_4317/4204071737.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['자본총계3'] =  drone_df['r3'].str.split('\n').str[0]
/tmp/ipykernel_4317/4204071737.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액1'] =  drone_df['r1'].str.split('\n').str[1]
/tmp/ipykernel_4317/4204071737.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액2'] =  drone_df['r2'].str.split('\n').str[1]
/tmp/ipykernel_4317/4204071737.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액3'] =  drone_df['r3'].str.split('\n').str[1]
/tmp/ipykernel_4317/4204071737.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['순이익1'] =  drone_df['r1'].str.split('\n').str[2]
/tmp/ipykernel_4317/4204071737.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['순이익2'] =  drone_df['r2'].str.split('\n').str[2]
/tmp/ipykernel_4317/4204071737.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['순이익3'] =  drone_df['r3'].str.split('\n').str[2]

In [16]:
drone_df.drop(columns=['링크','info','r1','r2','r3'], inplace=True)

/tmp/ipykernel_4317/2863766555.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df.drop(columns=['링크','info','r1','r2','r3'], inplace=True)

In [17]:
import pandas as pd

# 예제 데이터프레임
data = {'금액': ['- 1,000억 5,000만원', '3,000억원', '500원', '10억 2,000만원', '6,848원', '1조 5,000억 3,000만원', '- 11억 578만원']}
df = pd.DataFrame(data)

def convert_currency_to_int(value):
    if isinstance(value, (float, int)):
        return int(value)

    result = 0
    is_negative = False

    # '억' 또는 '억원' 다음에 '원'이 오는 경우를 처리
    value = value.replace('억원', '억 원')

    for part in value.split():
        if '조' in part:
            result += int(part.replace('조', '').replace(',', '')) * 10**8
        elif '억' in part or '억원' in part:
            result += int(part.replace('억', '').replace('억원', '').replace(',', '')) * 10**4
        elif '만원' in part:
            result += int(part.replace('만원', '').replace(',', ''))
        elif '원' in part:
            result += 0
        elif '-' in part:
            is_negative = True

    return -result if is_negative else result

# '금액' 열에 함수 적용
df['금액'] = df['금액'].apply(convert_currency_to_int)

# 결과 표시
print(df)

          금액
0  -10005000
1   30000000
2          0
3     102000
4          0
5  150003000
6    -110578

In [18]:
drone_df['평균연봉'] = pd.to_numeric(drone_df['평균연봉'].str.replace(',', '').str.replace('만원', ''), errors='coerce').astype('Int64')

/tmp/ipykernel_4317/3034088878.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['평균연봉'] = pd.to_numeric(drone_df['평균연봉'].str.replace(',', '').str.replace('만원', ''), errors='coerce').astype('Int64')

In [19]:
drone_df['매출액1'] = drone_df['매출액1'].str.replace('↑','')
drone_df['매출액2'] = drone_df['매출액2'].str.replace('↑','')
drone_df['매출액3'] = drone_df['매출액3'].str.replace('↑','')
drone_df['순이익1'] = drone_df['순이익1'].str.replace('↑','')
drone_df['순이익2'] = drone_df['순이익2'].str.replace('↑','')
drone_df['순이익3'] = drone_df['순이익3'].str.replace('↑','')

drone_df['매출액1'] = drone_df['매출액1'].str.replace('↓','')
drone_df['매출액2'] = drone_df['매출액2'].str.replace('↓','')
drone_df['매출액3'] = drone_df['매출액3'].str.replace('↓','')
drone_df['순이익1'] = drone_df['순이익1'].str.replace('↓','')
drone_df['순이익2'] = drone_df['순이익2'].str.replace('↓','')
drone_df['순이익3'] = drone_df['순이익3'].str.replace('↓','')

/tmp/ipykernel_4317/382490757.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액1'] = drone_df['매출액1'].str.replace('↑','')
/tmp/ipykernel_4317/382490757.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액2'] = drone_df['매출액2'].str.replace('↑','')
/tmp/ipykernel_4317/382490757.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액3'] = drone_df['매출액3'].str.replace('↑','')
/tmp/ipykernel_4317/382490757.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['순이익1'] = drone_df['순이익1'].str.replace('↑','')
/tmp/ipykernel_4317/382490757.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['순이익2'] = drone_df['순이익2'].str.replace('↑','')
/tmp/ipykernel_4317/382490757.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['순이익3'] = drone_df['순이익3'].str.replace('↑','')
/tmp/ipykernel_4317/382490757.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액1'] = drone_df['매출액1'].str.replace('↓','')
/tmp/ipykernel_4317/382490757.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액2'] = drone_df['매출액2'].str.replace('↓','')
/tmp/ipykernel_4317/382490757.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액3'] = drone_df['매출액3'].str.replace('↓','')
/tmp/ipykernel_4317/382490757.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['순이익1'] = drone_df['순이익1'].str.replace('↓','')
/tmp/ipykernel_4317/382490757.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['순이익2'] = drone_df['순이익2'].str.replace('↓','')
/tmp/ipykernel_4317/382490757.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['순이익3'] = drone_df['순이익3'].str.replace('↓','')

In [20]:
drone_df

,회사명,기업규모,매출액,평균연봉,자본총계1,자본총계2,자본총계3,매출액1,매출액2,매출액3,순이익1,순이익2,순이익3
0,(주)에어로리서치,중소기업,"3억 8,507만원 (2022)",4125,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
1,주식회사 한컴어썸텍,중소기업,"8억 1,460만원 (2022)",3877,"2022 7억 4,292만원","2021 6억 9,776만원","2020 1억 3,347만원","8억 1,460만원","6억 4,024만원","4억 7,401만원","4,516만원","6,428만원",1억 865만원
2,(주)포디게이트,중소기업,-,<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)엑스퍼넷,중소기업,"321억 2,805만원 (2022)",5647,"2022 92억 4,254만원","2021 84억 7,029만원","2020 66억 8,688만원","321억 2,805만원","327억 6,745만원","265억 3,091만원","7억 7,225만원","17억 8,340만원","6억 8,060만원"
4,대영드론솔루션 주식회사,중소기업,"8억 1,685만원 (2022)",3539,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
5,주식회사드론아카데미,중소기업,-,3683,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
6,주식회사리하이,중소기업,"16억 1,804만원 (2022)",3110,"2022 3억 6,377만원","2021 2억 8,582만원","2020 4,411만원","16억 1,804만원","11억 8,578만원","4억 4,897만원",1억 858만원,"2억 3,583만원","2,751만원"
7,(주)엑스퍼넷,중소기업,"321억 2,805만원 (2022)",5647,"2022 92억 4,254만원","2021 84억 7,029만원","2020 66억 8,688만원","321억 2,805만원","327억 6,745만원","265억 3,091만원","7억 7,225만원","17억 8,340만원","6억 8,060만원"
8,(주)비에이블컨설팅그룹,중소기업,-,<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
9,(주)스카우트파트너스,중소기업,"85억 5,603만원 (2022)",4515,"2022 16억 9,197만원","2021 11억 6,080만원","2020 5억 8,451만원","85억 5,603만원","58억 6,943만원","33억 4,395만원","5억 3,117만원","5억 7,628만원","2억 7,402만원"
10,(주)피플스카우트,중소기업,65억원 (2011),<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
11,잡앤서비스,중견기업,-,<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
12,(주)프리뉴,중소기업,"92억 1,452만원 (2022)",4687,"2022 42억 5,006만원","2021 28억 2,431만원","2020 14억 3,723만원","18억 6,582만원","53억 9,289만원","64억 8,445만원","- 15억 7,424만원","- 4억 1,866만원","3억 3,475만원"
13,(주)와이즈교육,중소기업,"81억 6,310만원 (2022)",3924,"2022 6억 6,299만원",2021 5억 968만원,"2020 2억 8,686만원","81억 6,310만원","89억 6,016만원","70억 1,963만원","1억 5,330만원","2억 2,281만원",- 14억 556만원
14,(주)봄날,중소기업,-,2803,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
15,다스코리아,중소기업,"572억 4,536만원 (2022)",4838,"2022 118억 2,820만원","2021 115억 7,753만원","2020 94억 7,049만원","572억 4,536만원",460억 909만원,"361억 9,219만원","6억 7,566만원","21억 6,675만원","- 14억 6,660만원"
16,(주)잡뉴스솔로몬서치,중소기업,-,5242,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
17,한국씨앤오테크(주),중소기업,"184억 4,294만원 (2022)",4257,"2022 76억 8,325만원","2021 83억 7,440만원",2020 96억 981만원,"184억 4,294만원","116억 7,101만원","118억 5,713만원","- 6억 9,115만원","- 12억 3,540만원","- 27억 1,745만원"
18,웹뜰 주식회사,중소기업,"87억 1,814만원 (2022)",3621,"2022 10억 1,237만원","2021 29억 2,137만원","2020 26억 5,947만원","87억 1,814만원","257억 4,676만원","205억 4,333만원","- 4,127만원","2억 2,190만원","2억 7,748만원"
19,(주)프리뉴,중소기업,"92억 1,452만원 (2022)",4687,"2022 42억 5,006만원","2021 28억 2,431만원","2020 14억 3,723만원","18억 6,582만원","53억 9,289만원","64억 8,445만원","- 15억 7,424만원","- 4억 1,866만원","3억 3,475만원"
20,(주)프리뉴,중소기업,"92억 1,452만원 (2022)",4687,"2022 42억 5,006만원","2021 28억 2,431만원","2020 14억 3,723만원","18억 6,582만원","53억 9,289만원","64억 8,445만원","- 15억 7,424만원","- 4억 1,866만원","3억 3,475만원"
21,(주)인스파이어인티그레이티드리조트,중소기업,-,4835,"2017 2,275억 8,154만원","2016 2,270억 6,598만원","2015 570억 9,905만원",0만원,0만원,0만원,"5억 1,556만원","- 18억 5,292만원","- 16억 3,460만원"
22,(주)유비파이,중소기업,"63억 5,493만원 (2022)",4659,"2022 25억 2,480만원","2021 18억 7,863만원","2020 8억 6,897만원","63억 5,493만원","34억 3,995만원","14억 3,861만원","6억 4,617만원",10억 966만원,"5억 6,925만원"
23,(주)피플렙,중소기업,-,<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
24,(주)잡뉴스솔로몬서치,중소기업,-,5242,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
25,(주)스타리치어드바이져,중소기업,-,3918,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
26,(주)유나이티드이미징헬스케어코리아,중소기업,-,6008,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
27,(주)스카우트파트너스,중소기업,"85억 5,603만원 (2022)",4515,"2022 16억 9,197만원","2021 11억 6,080만원","2020 5억 8,451만원","85억 5,603만원","58억 6,943만원","33억 4,395만원","5억 3,117만원","5억 7,628만원","2억 7,402만원"
28,한국교통안전공단,중기업,"3,847억 9,817만원 (2022)",4466,"2022 2,343억 6,861만원","2021 2,186억 2,975만원","2020 2,081억 6,590만원","3,847억 9,817만원","4,360억 7,780만원","3,386억 5,607만원","6억 3,788만원","106억 7,705만원","- 68억 7,089만원"
29,세종대학교,중견기업,-,2198,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
30,(주)비엠더블유모토라드광주,중소기업,40억원 (2017),<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
31,제이앤파트너즈코리아 (주),소기업,-,<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
32,(주)트라이디,중소기업,5억 781만원 (2022),4652,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
33,(주)프로듀스드바이기억,중소기업,"48억 8,051만원 (2022)",4688,"2022 8,775만원","2021 8,533만원","2020- 5,951만원","48억 8,051만원","38억 9,758만원","20억 3,861만원",242만원,"1억 4,484만원","9,611만원"
34,주식회사 제이티체인,중소기업,-,3580,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
35,(주)프로듀스드바이기억,중소기업,"48억 8,051만원 (2022)",4688,"2022 8,775만원","2021 8,533만원","2020- 5,951만원","48억 8,051만원","38억 9,758만원","20억 3,861만원",242만원,"1억 4,484만원","9,611만원"
36,오가노이드사이언스(주),중소기업,"4억 3,824만원 (2022)",5769,"2022- 395억 6,023만원","2021 342억 4,975만원","2020 68억 9,449만원","4억 3,824만원","2억 7,025만원",1억 186만원,"- 241억 1,128만원","- 53억 2,567만원",- 14억 197만원
37,(주)스타리치어드바이져,중소기업,-,3918,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
38,에디션M,NaN,NaN,<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
39,네오타이드코리아,중소기업,-,<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
40,산수음료(주),중소기업,"159억 2,070만원 (2022)",4712,"2022 41억 5,395만원","2021 73억 8,302만원","2020 72억 3,117만원","159억 2,070만원","167억 6,206만원","164억 6,769만원","- 32억 2,907만원","1억 5,185만원",- 8억 486만원
41,(주)봄날,중소기업,-,2803,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
42,오가노이드사이언스(주),중소기업,"4억 3,824만원 (2022)",5769,"2022- 395억 6,023만원","2021 342억 4,975만원","2020 68억 9,449만원","4억 3,824만원","2억 7,025만원",1억 186만원,"- 241억 1,128만원","- 53억 2,567만원",- 14억 197만원
43,(주)비전드림교육,중소기업,"12억 4,614만원 (2022)",<NA>,"2022 1억 3,010만원","2021 8,072만원","2020 6,762만원","12억 4,614만원","9억 1,324만원","3억 4,150만원","4,938만원","1,310만원","3,762만원"
44,(주)프리뉴,중소기업,"92억 1,452만원 (2022)",4687,"2022 42억 5,006만원","2021 28억 2,431만원","2020 14억 3,723만원","18억 6,582만원","53억 9,289만원","64억 8,445만원","- 15억 7,424만원","- 4억 1,866만원","3억 3,475만원"
45,(주)자이드물류,중소기업,-,6210,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
46,(주)지알엔,중소기업,-,<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
47,COAD,중소기업,150억원 (2021),<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
48,주식회사 온나비,중소기업,"1억 4,560만원 (2022)",4124,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
49,(주)비엠더블유모토라드광주,중소기업,40억원 (2017),<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
50,(주)썬에듀파트너스,중소기업,-,1708,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
51,(주)썬에듀파트너스,중소기업,-,1708,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
52,COAD,중소기업,150억원 (2021),<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
53,COAD,중소기업,150억원 (2021),<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
54,(주)더프리마,중소기업,"39억 3,387만원 (2022)",4238,"2022 3,056억 8,998만원","2021 1,272억 5,385만원","2020 1,287억 9,406만원","39억 3,387만원","40억 9,080만원","127억 9,919만원","2,898억 3,441만원","- 15억 4,020만원","- 18억 1,128만원"
55,한국폴리텍대학 충주캠퍼스,대기업,-,<NA>,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
drone_df['매출액1'] = drone_df['매출액1'].fillna(0).apply(convert_currency_to_int)
drone_df['매출액2'] = drone_df['매출액2'].fillna(0).apply(convert_currency_to_int)
drone_df['매출액3'] = drone_df['매출액3'].fillna(0).apply(convert_currency_to_int)


drone_df['순이익1'] = drone_df['순이익1'].fillna(0).apply(convert_currency_to_int)
drone_df['순이익2'] = drone_df['순이익2'].fillna(0).apply(convert_currency_to_int)
drone_df['순이익3'] = drone_df['순이익3'].fillna(0).apply(convert_currency_to_int)

/tmp/ipykernel_4317/3079343379.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액1'] = drone_df['매출액1'].fillna(0).apply(convert_currency_to_int)
/tmp/ipykernel_4317/3079343379.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액2'] = drone_df['매출액2'].fillna(0).apply(convert_currency_to_int)
/tmp/ipykernel_4317/3079343379.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액3'] = drone_df['매출액3'].fillna(0).apply(convert_currency_to_int)
/tmp/ipykernel_4317/3079343379.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['순이익1'] = drone_df['순이익1'].fillna(0).apply(convert_currency_to_int)
/tmp/ipykernel_4317/3079343379.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['순이익2'] = drone_df['순이익2'].fillna(0).apply(convert_currency_to_int)
/tmp/ipykernel_4317/3079343379.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['순이익3'] = drone_df['순이익3'].fillna(0).apply(convert_currency_to_int)

In [22]:
drone_df['매출액'] =  drone_df['매출액'].str.split('(').str[0]

/tmp/ipykernel_4317/2040329690.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액'] =  drone_df['매출액'].str.split('(').str[0]

In [23]:
drone_df['매출액'] = drone_df['매출액'].fillna(0).apply(convert_currency_to_int)

/tmp/ipykernel_4317/3454607376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['매출액'] = drone_df['매출액'].fillna(0).apply(convert_currency_to_int)

In [24]:
drone_df.iloc[:,1:6]

    기업규모       매출액  평균연봉                자본총계1                자본총계2
0   중소기업     38507  4125                    -                    -
1   중소기업     81460  3877      2022 7억 4,292만원      2021 6억 9,776만원
2   중소기업         0  <NA>                    -                    -
3   중소기업   3212805  5647     2022 92억 4,254만원     2021 84억 7,029만원
4   중소기업     81685  3539                    -                    -
5   중소기업         0  3683                    -                    -
6   중소기업    161804  3110      2022 3억 6,377만원      2021 2억 8,582만원
7   중소기업   3212805  5647     2022 92억 4,254만원     2021 84억 7,029만원
8   중소기업         0  <NA>                    -                    -
9   중소기업    855603  4515     2022 16억 9,197만원     2021 11억 6,080만원
10  중소기업    650000  <NA>                    -                    -
11  중견기업         0  <NA>                    -                    -
12  중소기업    921452  4687     2022 42억 5,006만원     2021 28억 2,431만원
13  중소기업    816310  3924      2022 6억 6,299만원        2021 5억 968만원
14  중소기업         0  2803                    -                    -
15  중소기업   5724536  4838    2022 118억 2,820만원    2021 115억 7,753만원
16  중소기업         0  5242                    -                    -
17  중소기업   1844294  4257     2022 76억 8,325만원     2021 83억 7,440만원
18  중소기업    871814  3621     2022 10억 1,237만원     2021 29억 2,137만원
19  중소기업    921452  4687     2022 42억 5,006만원     2021 28억 2,431만원
20  중소기업    921452  4687     2022 42억 5,006만원     2021 28억 2,431만원
21  중소기업         0  4835  2017 2,275억 8,154만원  2016 2,270억 6,598만원
22  중소기업    635493  4659     2022 25억 2,480만원     2021 18억 7,863만원
23  중소기업         0  <NA>                    -                    -
24  중소기업         0  5242                    -                    -
25  중소기업         0  3918                    -                    -
26  중소기업         0  6008                    -                    -
27  중소기업    855603  4515     2022 16억 9,197만원     2021 11억 6,080만원
28   중기업  38479817  4466  2022 2,343억 6,861만원  2021 2,186억 2,975만원
29  중견기업         0  2198                    -                    -
30  중소기업    400000  <NA>                    -                    -
31   소기업         0  <NA>                    -                    -
32  중소기업     50781  4652                    -                    -
33  중소기업    488051  4688         2022 8,775만원         2021 8,533만원
34  중소기업         0  3580                    -                    -
35  중소기업    488051  4688         2022 8,775만원         2021 8,533만원
36  중소기업     43824  5769   2022- 395억 6,023만원    2021 342억 4,975만원
37  중소기업         0  3918                    -                    -
38   NaN         0  <NA>                    -                    -
39  중소기업         0  <NA>                    -                    -
40  중소기업   1592070  4712     2022 41억 5,395만원     2021 73억 8,302만원
41  중소기업         0  2803                    -                    -
42  중소기업     43824  5769   2022- 395억 6,023만원    2021 342억 4,975만원
43  중소기업    124614  <NA>      2022 1억 3,010만원         2021 8,072만원
44  중소기업    921452  4687     2022 42억 5,006만원     2021 28억 2,431만원
45  중소기업         0  6210                    -                    -
46  중소기업         0  <NA>                    -                    -
47  중소기업   1500000  <NA>                    -                    -
48  중소기업     14560  4124                    -                    -
49  중소기업    400000  <NA>                    -                    -
50  중소기업         0  1708                    -                    -
51  중소기업         0  1708                    -                    -
52  중소기업   1500000  <NA>                    -                    -
53  중소기업   1500000  <NA>                    -                    -
54  중소기업    393387  4238  2022 3,056억 8,998만원  2021 1,272억 5,385만원
55   대기업         0  <NA>                    -                    -

In [25]:
drone_df['기준년도'] = drone_df['자본총계1'].str.extract(r'(\d{4})', expand=False)

/tmp/ipykernel_4317/968367402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['기준년도'] = drone_df['자본총계1'].str.extract(r'(\d{4})', expand=False)

In [26]:
drone_df['자본총계1'] = drone_df['자본총계1'].str.replace('2022', '')
drone_df['자본총계2'] = drone_df['자본총계2'].str.replace('2021', '')
drone_df['자본총계3'] = drone_df['자본총계3'].str.replace('2020', '')
drone_df['자본총계1'] = drone_df['자본총계1'].str.replace('2016', '')
drone_df['자본총계2'] = drone_df['자본총계2'].str.replace('2015', '')
drone_df['자본총계3'] = drone_df['자본총계3'].str.replace('2014', '')

/tmp/ipykernel_4317/1065099474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['자본총계1'] = drone_df['자본총계1'].str.replace('2022', '')
/tmp/ipykernel_4317/1065099474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['자본총계2'] = drone_df['자본총계2'].str.replace('2021', '')
/tmp/ipykernel_4317/1065099474.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['자본총계3'] = drone_df['자본총계3'].str.replace('2020', '')
/tmp/ipykernel_4317/1065099474.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['자본총계1'] = drone_df['자본총계1'].str.replace('2016', '')
/tmp/ipykernel_4317/1065099474.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['자본총계2'] = drone_df['자본총계2'].str.replace('2015', '')
/tmp/ipykernel_4317/1065099474.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['자본총계3'] = drone_df['자본총계3'].str.replace('2014', '')

In [28]:
drone_df.to_csv('../../data/eda_project_data/drone_rev1.csv',index=False)

In [29]:
drone_df['자본총계1'] = drone_df['자본총계1'].fillna(0).apply(convert_currency_to_int)
drone_df['자본총계2'] = drone_df['자본총계2'].fillna(0).apply(convert_currency_to_int)
drone_df['자본총계3'] = drone_df['자본총계3'].fillna(0).apply(convert_currency_to_int)

/tmp/ipykernel_4317/3085598439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['자본총계1'] = drone_df['자본총계1'].fillna(0).apply(convert_currency_to_int)
/tmp/ipykernel_4317/3085598439.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['자본총계2'] = drone_df['자본총계2'].fillna(0).apply(convert_currency_to_int)
/tmp/ipykernel_4317/3085598439.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['자본총계3'] = drone_df['자본총계3'].fillna(0).apply(convert_currency_to_int)

In [30]:
drone_df['기준년도']= drone_df['기준년도'].fillna(0).astype(int)

/tmp/ipykernel_4317/3554607191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['기준년도']= drone_df['기준년도'].fillna(0).astype(int)

In [31]:
drone_df

,회사명,기업규모,매출액,평균연봉,자본총계1,자본총계2,자본총계3,매출액1,매출액2,매출액3,순이익1,순이익2,순이익3,기준년도
0,(주)에어로리서치,중소기업,38507,4125,0,0,0,0,0,0,0,0,0,0
1,주식회사 한컴어썸텍,중소기업,81460,3877,74292,69776,13347,81460,64024,47401,4516,6428,10865,2022
2,(주)포디게이트,중소기업,0,<NA>,0,0,0,0,0,0,0,0,0,0
3,(주)엑스퍼넷,중소기업,3212805,5647,924254,847029,668688,3212805,3276745,2653091,77225,178340,68060,2022
4,대영드론솔루션 주식회사,중소기업,81685,3539,0,0,0,0,0,0,0,0,0,0
5,주식회사드론아카데미,중소기업,0,3683,0,0,0,0,0,0,0,0,0,0
6,주식회사리하이,중소기업,161804,3110,36377,28582,4411,161804,118578,44897,10858,23583,2751,2022
7,(주)엑스퍼넷,중소기업,3212805,5647,924254,847029,668688,3212805,3276745,2653091,77225,178340,68060,2022
8,(주)비에이블컨설팅그룹,중소기업,0,<NA>,0,0,0,0,0,0,0,0,0,0
9,(주)스카우트파트너스,중소기업,855603,4515,169197,116080,58451,855603,586943,334395,53117,57628,27402,2022
10,(주)피플스카우트,중소기업,650000,<NA>,0,0,0,0,0,0,0,0,0,0
11,잡앤서비스,중견기업,0,<NA>,0,0,0,0,0,0,0,0,0,0
12,(주)프리뉴,중소기업,921452,4687,425006,282431,143723,186582,539289,648445,-157424,-41866,33475,2022
13,(주)와이즈교육,중소기업,816310,3924,66299,50968,28686,816310,896016,701963,15330,22281,-140556,2022
14,(주)봄날,중소기업,0,2803,0,0,0,0,0,0,0,0,0,0
15,다스코리아,중소기업,5724536,4838,1182820,1157753,947049,5724536,4600909,3619219,67566,216675,-146660,2022
16,(주)잡뉴스솔로몬서치,중소기업,0,5242,0,0,0,0,0,0,0,0,0,0
17,한국씨앤오테크(주),중소기업,1844294,4257,768325,837440,960981,1844294,1167101,1185713,-69115,-123540,-271745,2022
18,웹뜰 주식회사,중소기업,871814,3621,101237,292137,265947,871814,2574676,2054333,-4127,22190,27748,2022
19,(주)프리뉴,중소기업,921452,4687,425006,282431,143723,186582,539289,648445,-157424,-41866,33475,2022
20,(주)프리뉴,중소기업,921452,4687,425006,282431,143723,186582,539289,648445,-157424,-41866,33475,2022
21,(주)인스파이어인티그레이티드리조트,중소기업,0,4835,22758154,22706598,5709905,0,0,0,51556,-185292,-163460,2017
22,(주)유비파이,중소기업,635493,4659,252480,187863,86897,635493,343995,143861,64617,100966,56925,2022
23,(주)피플렙,중소기업,0,<NA>,0,0,0,0,0,0,0,0,0,0
24,(주)잡뉴스솔로몬서치,중소기업,0,5242,0,0,0,0,0,0,0,0,0,0
25,(주)스타리치어드바이져,중소기업,0,3918,0,0,0,0,0,0,0,0,0,0
26,(주)유나이티드이미징헬스케어코리아,중소기업,0,6008,0,0,0,0,0,0,0,0,0,0
27,(주)스카우트파트너스,중소기업,855603,4515,169197,116080,58451,855603,586943,334395,53117,57628,27402,2022
28,한국교통안전공단,중기업,38479817,4466,23436861,21862975,20816590,38479817,43607780,33865607,63788,1067705,-687089,2022
29,세종대학교,중견기업,0,2198,0,0,0,0,0,0,0,0,0,0
30,(주)비엠더블유모토라드광주,중소기업,400000,<NA>,0,0,0,0,0,0,0,0,0,0
31,제이앤파트너즈코리아 (주),소기업,0,<NA>,0,0,0,0,0,0,0,0,0,0
32,(주)트라이디,중소기업,50781,4652,0,0,0,0,0,0,0,0,0,0
33,(주)프로듀스드바이기억,중소기업,488051,4688,8775,8533,-5951,488051,389758,203861,242,14484,9611,2022
34,주식회사 제이티체인,중소기업,0,3580,0,0,0,0,0,0,0,0,0,0
35,(주)프로듀스드바이기억,중소기업,488051,4688,8775,8533,-5951,488051,389758,203861,242,14484,9611,2022
36,오가노이드사이언스(주),중소기업,43824,5769,-3956023,3424975,689449,43824,27025,10186,-2411128,-532567,-140197,2022
37,(주)스타리치어드바이져,중소기업,0,3918,0,0,0,0,0,0,0,0,0,0
38,에디션M,NaN,0,<NA>,0,0,0,0,0,0,0,0,0,0
39,네오타이드코리아,중소기업,0,<NA>,0,0,0,0,0,0,0,0,0,0
40,산수음료(주),중소기업,1592070,4712,415395,738302,723117,1592070,1676206,1646769,-322907,15185,-80486,2022
41,(주)봄날,중소기업,0,2803,0,0,0,0,0,0,0,0,0,0
42,오가노이드사이언스(주),중소기업,43824,5769,-3956023,3424975,689449,43824,27025,10186,-2411128,-532567,-140197,2022
43,(주)비전드림교육,중소기업,124614,<NA>,13010,8072,6762,124614,91324,34150,4938,1310,3762,2022
44,(주)프리뉴,중소기업,921452,4687,425006,282431,143723,186582,539289,648445,-157424,-41866,33475,2022
45,(주)자이드물류,중소기업,0,6210,0,0,0,0,0,0,0,0,0,0
46,(주)지알엔,중소기업,0,<NA>,0,0,0,0,0,0,0,0,0,0
47,COAD,중소기업,1500000,<NA>,0,0,0,0,0,0,0,0,0,0
48,주식회사 온나비,중소기업,14560,4124,0,0,0,0,0,0,0,0,0,0
49,(주)비엠더블유모토라드광주,중소기업,400000,<NA>,0,0,0,0,0,0,0,0,0,0
50,(주)썬에듀파트너스,중소기업,0,1708,0,0,0,0,0,0,0,0,0,0
51,(주)썬에듀파트너스,중소기업,0,1708,0,0,0,0,0,0,0,0,0,0
52,COAD,중소기업,1500000,<NA>,0,0,0,0,0,0,0,0,0,0
53,COAD,중소기업,1500000,<NA>,0,0,0,0,0,0,0,0,0,0
54,(주)더프리마,중소기업,393387,4238,30568998,12725385,12879406,393387,409080,1279919,28983441,-154020,-181128,2022
55,한국폴리텍대학 충주캠퍼스,대기업,0,<NA>,0,0,0,0,0,0,0,0,0,0

In [32]:
drone_df['평균연봉']= drone_df['평균연봉'].fillna(0).astype(int)

/tmp/ipykernel_4317/3621742605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df['평균연봉']= drone_df['평균연봉'].fillna(0).astype(int)

In [33]:
drone_df.rename(columns={'회사명':'기업이름'},inplace=True)

/tmp/ipykernel_4317/1649893212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drone_df.rename(columns={'회사명':'기업이름'},inplace=True)

In [34]:
unique_companies = drone_df.drop_duplicates(subset='기업이름')

In [35]:
unique_companies.reset_index(drop=True,inplace=True)

In [37]:
unique_companies.to_csv('../../data/eda_project_data/drone_rev_syt.csv',index=False)