#####  데이터베이스 생성 및 테이블 생성

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host = "rds.amazonaws.com",
    port = 3306,
    user = "",
    password = ""
)

In [ ]:
#데이터베이스 생성
cursor = conn.cursor(buffered=True)
cursor.execute("create database project_merge")

In [ ]:
#생성된 데이터베이스로 연결
import mysql.connector

conn = mysql.connector.connect(
    host = "rds.amazonaws.com",
    port = 3306,
    user = "",
    password = "",
    database = "project_merge"
)

In [ ]:
cursor = conn.cursor(buffered=True)

##### csv mysql 테이블에 저장하는 과정

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host = "rds.amazonaws.com",
    port = 3306,
    user = "",
    password = "",
    database = "project_merge"
)

In [9]:
#자율주행 합치기
import pandas as pd

df = pd.read_csv("./output.csv")
df.head()

,기업이름,고용형태,연봉,기업주소,키워드,담당업무,필요역량
0,컨트롤웍스,2년,연봉업계평균이상,서울 강남구 언주로81길 13 진일빌딩 3층,자율주행,[2년 이상] 자율주행 Front-End 개발자,"[자격요건], 학사 이상 (컴퓨터 공학/감성 및 인간공학 등 전공), 프론트엔드 개..."
1,뷰런테크놀로지,-,-,"서초구 강남대로 311, 19층",자율주행,자율주행 인지 개발자,", 전자전기/컴퓨터공학 학사 이상 또는 이와 비슷한 동종업계 경력, C/C++ 또는..."
2,씨엔비스,4년,-,"경기도 성남시 수정구 창업로 43, 판교 글로벌비즈센터 A동 907~910호",자율주행,자율주행 인지 개발자,", 관련 분야 학사학위(4년제) 이상, 혹은 유관 분야 경력 2년 이상이신 분, C..."
3,컨트롤웍스,2년,연봉업계평균이상,서울 강남구 언주로81길 13 진일빌딩 3층,자율주행,자율주행 SW 엔지니어,"[자격요건], 학사학위 이상(자동차공학, 기계공학, 로보틱스, 컴퓨터 공학, 전기..."
4,베스텔라랩,2년,연봉업계평균이상,안양시 동안구 엘에스로116번길 118 안양2차 SKV1 Center,자율주행,자율주행 연구원(경기/대구)(전문연구요원가능),- 2년이상 경력자- C++ 혹은 Python 프로그래밍 능력- 국영문 학술논문 등...

In [ ]:
df = df.drop(['Unnamed: 0'], axis=1)

In [89]:
df.rename(columns={'기업위치': '기업주소'}, inplace=True)

In [134]:
df.fillna('-', inplace=True)

In [164]:
df.columns

Index(['기업이름', '고용형태', '연봉', '기업주소', '키워드', '담당업무', '필요역량'], dtype='object')

In [131]:
#Change column order
new_order = ['기업이름', '고용형태', '연봉','기업주소','키워드','담당업무','필요역량']  
df = df[new_order]

In [ ]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO project_merge (`기업이름`, `고용형태`, `연봉`, `기업주소`, `키워드`, `담당업무`, `필요역량`)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
    """
    cursor.execute(insert_query, (
        row['기업이름'], row['고용형태'], row['연봉'], row['기업주소'],
        row['키워드'], row['담당업무'], row['필요역량']
    ))

In [ ]:
#Create index column (run only once)
cursor.execute("ALTER TABLE project_merge ADD COLUMN 인덱스 INT;")

In [166]:
#Add an index to the index column
cursor.execute("SET @index = 0;")
cursor.execute("UPDATE project_merge SET `인덱스` = @index:=@index+1;")

In [168]:
conn.commit()

In [3]:
#Importing drone values
import pandas as pd
df = pd.read_csv("./output1.csv")
df.head()

,기업이름,고용형태,연봉,기업주소,키워드,담당업무,필요역량
0,니어스랩,3년,-,"서울시 강남구 논현로 417 화원빌딩 4, 5층",드론,소프트웨어 엔지니어 팀장 (드론 원격 관제 S/W 개발),3년 이상의 S/W 개발 경험 (분야 무관)다양한 프로그래밍 언어를 자유롭게 활용 ...

In [ ]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO project_merge (`기업이름`, `고용형태`, `연봉`, `기업주소`, `키워드`, `담당업무`, `필요역량`)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
    """
    cursor.execute(insert_query, (
        row['기업이름'], row['고용형태'], row['연봉'], row['기업주소'],
        row['키워드'], row['담당업무'], row['필요역량']
    ))

In [ ]:

cursor.execute("SET @index = 0;")
cursor.execute("UPDATE project_merge SET `인덱스` = @index:=@index+1;")

In [ ]:
conn.commit()

In [10]:
#Importing robot control
import pandas as pd
df = pd.read_csv("./output2.csv")
df.head()

,기업이름,고용형태,연봉,기업주소,키워드,담당업무,필요역량
0,메디인테크,-,-,서울특별시 종로구 대학로 60 동마루빌딩 2층,로봇제어,"[전문연구요원 가능] C/C++, Python 로봇 제어 개발자 (신입)",", Robot Engineering / Mechanical Engineering 에..."
1,에이치디현대로보틱스,3년,-,"경기도 성남시 분당구 분당수서로 477, HD현대그룹 R&D센터 10F",로봇제어,로봇 시스템 서보제어 개발,", 석사 이상, 경력 3년 이상, 서보모터 제어 개발 경험자, Embedded sy..."
2,알지티,3년,-,서울 금천구 디지털로10길 78 가산테라타워 10층,로봇제어,모바일 로봇 제어 SW 개발자 (navigation),ㆍ관련 경력 3년이상ㆍ실내 Navigation 분야 상용화 제품 개발 경력자(저널 ...
3,메디인테크,-,-,서울특별시 종로구 대학로 60 동마루빌딩 2층,로봇제어,"[전문연구요원 가능] C/C++, Python 로봇 제어 개발자",", 경력 무관, Robot Engineering / Mechanical Engine..."
4,알지에이아이엔씨(RGA Inc.),5년,-,"서울시 서초구 서초대로 396, 7층 (서초동, 강남빌딩)",로봇제어,로봇 제어 엔지니어,", 로보틱스/메카트로닉스/기계공학/전기전자공학 등 이 · 공 계열 학석사 이상 또는..."

In [ ]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO project_merge (`기업이름`, `고용형태`, `연봉`, `기업주소`, `키워드`, `담당업무`, `필요역량`)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
    """
    cursor.execute(insert_query, (
        row['기업이름'], row['고용형태'], row['연봉'], row['기업주소'],
        row['키워드'], row['담당업무'], row['필요역량']
    ))

In [ ]:
cursor.execute("SET @index = 0;")
cursor.execute("UPDATE project_merge SET `인덱스` = @index:=@index+1;")

In [ ]:
conn.commit()

In [11]:
#Import Deep Learning
import pandas as pd
df = pd.read_csv("./output3.csv")
df.head()

,기업이름,고용형태,연봉,기업주소,키워드,담당업무,필요역량
0,한국딥러닝,-,-,"서초구 강남대로 527, 브랜드칸 타워 6층",딥러닝,세일즈/전략 파트장,"■ 이런 분과 함께하고 싶습니다- 풍부한 SI 영업, AI 솔루션 영업 경험이 있으..."
1,포지큐브(POSICUBE),-,연봉업계평균이상,"서울특별시 강남구 역삼1동 823-30 라인빌딩 10층, 11층, 12층",딥러닝,언어모델 딥러닝 개발자,"+ 인공지능 및 머신러닝 연구 개발 경험+ Python, Pytorch, Tenso..."
2,한국딥러닝,-,-,"서울특별시 서초구 강남대로 537, 브랜드칸 타워 6층",딥러닝,ML/DL Engineer (머신러닝/딥러닝 엔지니어),- OCR 시스템의 구조를 알고 이를 딥러닝 모형으로 구현이 가능하신 분- 딥러닝 ...
3,한국딥러닝,-,-,"서울특별시 서초구 강남대로 537, 브랜드칸 타워 6층",딥러닝,딥러닝 엔지니어 (3D Reconstruction / 3D Generation),", 학력 : 석사 이상, 딥러닝, 머신러닝에 대한 깊은 이해를 기반으로 한 AI 서..."
4,슈어소프트테크,3년,연봉업계평균이상,성남시 수정구 금토로80번길 37(금토동),딥러닝,[AI기술팀] 머신러닝/딥러닝 개발자,", 관련 분야 3년 이상 경력자, C/C++/Python 숙련자, Tensorflo..."

In [ ]:
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO project_merge (`기업이름`, `고용형태`, `연봉`, `기업주소`, `키워드`, `담당업무`, `필요역량`)
    VALUES (%s, %s, %s, %s, %s, %s, %s);
    """
    cursor.execute(insert_query, (
        row['기업이름'], row['고용형태'], row['연봉'], row['기업주소'],
        row['키워드'], row['담당업무'], row['필요역량']
    ))

In [ ]:
cursor.execute("SET @index = 0;")
cursor.execute("UPDATE project_merge SET `인덱스` = @index:=@index+1;")

In [ ]:
conn.commit()

* sql 테이블 가져오기

In [171]:
query = "SELECT * FROM project_merge"
df = pd.read_sql(query, conn)

/tmp/ipykernel_11672/1578460496.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

* sql에 테이블 올리기

In [46]:
from sqlalchemy import create_engine

# Setting MySQL Connection Information
engine = create_engine('mysql+mysqlconnector://')

# Insert DataFrame into MySQL Table
df.to_sql(name='project_merge', con=engine, if_exists='replace', index=False)